body{
    width: 95%;
    background-color: #F9E79F;
    color: blue;
    font-family: cursive;
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

header{
    text-align: center;
    color: red;
    font-size: large;
}

article{
    color: red;
}

footer{
    font-weight: bold;
    text-align: right;
    margin-right: 5%;
}

nav{
    display: flex;
    width: 100%;
}

#subtitulo{
    text-align: center;
    color: blue;
    margin-bottom: 3%;
}

    /* Texto antes de la foto */
#ies{
    text-align: center;
}

    /* Foto del IES */
#iesf{
    text-align: center;
    width: 90%;
}

    /* Listado de ejercicios */
#listado{
    align-self: flex-start;
    width: 25%;
}

    /* Pruebas html */
#prueba{
    align-items: flex-start;
    width: 25%;
}

#listadoCss{
    align-self: flex-start;
    width: 25%;
}

    /* Pruebas html */
#pruebaCss{
    align-items: flex-start;
    width: 25%;
}

    /* Sin visitar */
a:link {
    color: navy;
}

    /* Visitado */
a:visited {
    color: red;
}

    /* al pasar el ratón */
a:hover {
    color: hotpink;
}

    /* link seleccionado */
a:active {
    color: green;
}
